html{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.57;
  background-color: #f2f2f2;
}
h1{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}
h2{
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}
h4{
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.7;
  margin: 0;
}